@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");

h1,
h2,
h3,
h4,
h5 {
  font-family: "Maven Pro" !important;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
  font-family: "Maven Pro" !important;
}

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif !important;
}

.rounded-up-left {
  border-top-left-radius: 20px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e4eaec #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #e4eaec;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.dark *::-webkit-scrollbar-track {
  background: transparent;
}

.dark *::-webkit-scrollbar-thumb {
  background-color: #2d2d2d;
  border-radius: 10px;
  border: 2px solid #1e1e1e;
}

.hover-parent .hover-child {
  opacity: 0;
  transition: 0.3s ease;
}

.hover-parent:hover .hover-child {
  opacity: 1;
}

:root {
  --background-rgb: 2 6 23;
  --background-light-rgb: 30 41 59;

  --border-rgb: 255 255 255;
  --border: 1px solid rgb(var(--border-rgb) / 20%);

  --hyperplexed-main-rgb: 41 121 255;
  --hyperplexed-main-light-rgb: 56 182 255;
  --hyperplexed-secondary-rgb: 42 252 152;

  --card-size: 480px;
  --font-size: 0.8rem;
  --logo-size: calc(var(--card-size) * 0.3);
}

.card-track {
  width: 100%;
  display: flex;
  position: relative;
}

.card-wrapper {
  width: 100%;
  position: relative;
}

.card {
  display: flex;
  justify-content: center;
  aspect-ratio: 1;
  position: relative;
  margin: 1rem;
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
  height: 100vh;
  width: 100%;
}

.card-image {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 4;
}

.card-image > img {
  width: var(--logo-size);
}

.card-gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  background: radial-gradient(rgb(var(--background-light-rgb)) 20%, rgb(var(--hyperplexed-main-rgb)) 100%, rgb(var(--hyperplexed-main-light-rgb)), rgb(var(--hyperplexed-secondary-rgb)));
  mix-blend-mode: lighten;
  pointer-events: none;
  z-index: 3;
}

html.dark .card-gradient {
  background: radial-gradient(rgb(var(--background-light-rgb)) 40%, rgb(var(--hyperplexed-main-rgb)) 50%, rgb(var(--hyperplexed-main-light-rgb)), rgb(var(--hyperplexed-secondary-rgb)));
  mix-blend-mode: darken;
}

.card-letters {
  --x: 0px;
  --y: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  color: black;
  font-size: var(--font-size);
  font-weight: 500;
  word-wrap: break-word;
  opacity: 0;
  transition: opacity 400ms;

  scale: 1.03;
}

html.dark .card-letters {
  color: white;
  -webkit-mask-image: radial-gradient(calc(var(--card-size) * 0.8) circle at var(--x) var(--y), rgb(255 255 255) 20%, rgb(255 255 255 / 25%), transparent);
}

.card:hover .card-letters {
  opacity: 1;
}

@media (max-width: 600px) {
  :root {
    --card-size: 340px;
  }

  .card {
    border-radius: 1rem;
  }
}

/* -- Extra Styles -- */

.card-track:before,
.card-track:after {
  content: "";
  height: 100vh;
  width: 1px;
  position: absolute;
  top: 50%;
  translate: 0% -50%;
}

.card-track:before {
  left: -1px;
  border-left: var(--border);
}

.card-track:after {
  right: -1px;
  border-right: var(--border);
}

.card-wrapper:before,
.card-wrapper:after {
  content: "";
  width: 100vw;
  position: absolute;
  left: 50%;
  translate: -50%;
}

.card-wrapper:before {
  top: -1px;
  border-top: var(--border);
}

.card-wrapper:after {
  bottom: -1px;
  border-bottom: var(--border);
}
